<!DOCTYPE html>
<html data-livestyle-extension="available" lang="ru"><head>
<title>Региональные отделения</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
<link href="rsps_reestr_files/styles.css" type="text/css" rel="stylesheet">
<link href="rsps_reestr_files/skeleton.css" type="text/css" rel="stylesheet">
<link href="rsps_reestr_files/normalize.css" type="text/css" rel="stylesheet">
<link href="rsps_reestr_files/styles-my.css" type="text/css" rel="stylesheet">
<link href="rsps_reestr_files/font.css" type="text/css" rel="stylesheet">
<link href="rsps_reestr_files/styles-media.css" type="text/css" rel="stylesheet"> 
<link href="rsps_reestr_files/font-awesome.css" type="text/css" rel="stylesheet">
<link rel="shortcut icon" href="http://rsps.online/favicon.ico"> 
<script src="rsps_reestr_files/jquery-1.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<meta name="robots" content="index, follow">

</head>
<body>
<div class="main" id="mennu">
 <div class="container">
 <nav id="menu" class="clearfix">	
 <ul class="clearfix">
 
			<li><a href="http://rsps.online/">Главная</a></li>

			<li><a href="http://rsps.online/about/">О РСПС</a></li>

			<li><a href="http://rsps.online/news/">Новости</a></li>

			<li><a href="http://rsps.online/docs/">Документы</a></li>

			<li><a href="http://rsps.online/org/">Региональные отделения</a></li>

			<li><a href="http://rsps.online/contacts/">Контакты</a></li>

				<li class="main-iko-new"><a href="#Modal-Authorization" class="wi"><i class="fa fa-sign-in"></i>&nbsp; Вход</a></li>
		<li class="main-iko-new"><a href="#" class="wi"><i class="fa fa-user-plus"></i>&nbsp; Регистрация</a></li>
				</ul>			
			<a href="#" id="pull">
					<span>МЕНЮ</span><span><i class="fa fa-bars"></i></span></a>		
</nav>
			
</div></div>
<div class="container" id="toppl">
		<div class="four columns">
		<div class="logo"><a href="http://rsps.online/"><img src="rsps_reestr_files/logo.gif" border="0"></a></div>
		</div>
		<div class="eight columns">
			<div class="name">Российское сварочное профессиональное сообщество</div>		
			</div>
		<div class="four columns">
			<div class="telefon">				<p><i class="fa fa-phone-square"></i>+7 (499) 784 77 00</p>
					<p><i class="fa fa-fax"></i>+7 (499) 784 77 11</p></div></div></div>

<div class="greyy">

<div class="container">
    <ul id="breadcrumb"><li><a href="http://rsps.online/" title="Главная">Главная</a></li><li class="grik"><i class="icon-double-angle-right"></i></li><li><a href="http://rsps.online/org/" title="Региональные отделения">Региональные отделения</a></li></ul>					
					

<h1 id="docc">Региональные отделения</h1>
<div class="tabregg">
<table cellspacing="0" cellpadding="0" border="0" width="100">
  <tbody><tr class="capp">
    <td id="lefftt">СУБЬЕКТ РФ<li class="tar"><a href="#"><i class="icon-angle-down"></i></a></li></td>
    <td id="mmr">РУКОВОДИТЕЛЬ РЕГИОНАЛЬНОГО ОТДЕЛЕНИЯ<li class="tar"><a href="#"><i class="icon-angle-down"></i></a></li></td>
    <td id="kontt">КОНТАКТЫ <li class="tar"><a href="#"><i class="icon-angle-down"></i></a></li></td>
    <td id="sost">СОСТАВ <li class="tar"><a href="#"><i class="icon-angle-down"></i></a></li></td>
  </tr>
  
     <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320735">Астраханская область</a></td>
    <td>Меркулов Денис Иювинальевич</td>
    <td>414056, г. Астрахань, ул. Татищева 20а<br>Тел.: (8512) 549097 (8512) 485393<br>e-mail: <a href="mailto:svarkacenter@ya.ru">svarkacenter@ya.ru</a></td>
    <td align="center">4</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320736">Алтайский край</a></td>
    <td>Радченко Михаил Васильевич</td>
    <td>656038, г. Барнаул, пр. Ленина, 46<br>Тел.: (3852) 290-765<br>e-mail: <a href="mailto:mirad_x@mail.ru">mirad_x@mail.ru</a></td>
    <td align="center">13</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320737">Белгородская область</a></td>
    <td>Остроцкий Александр Николаевич</td>
    <td>308014, г. Белгород, ул. Н.Чумичова, д.70<br>Тел.: (4722) 33-33-87 (4722) 27-19-62<br>e-mail: <a href="mailto:ac_bel@mail.ru">ac_bel@mail.ru</a></td>
    <td align="center">5</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320738">Брянская область</a></td>
    <td>Антохин Владимир Николаевич</td>
    <td>241013, г. Брянск, ул. Медведева, д.59а<br>Тел.: (910) 331-26-43 (4832) 52-19-56<br>e-mail: <a href="mailto:acbryansk@rambler.ru">acbryansk@rambler.ru</a></td>
    <td align="center">5</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320739">Приморский край</a></td>
    <td>Матохин Геннадий Владимирович</td>
    <td>690080, г. Владивосток, ул. Сахалинская, 4А<br>Тел.: (423) 260-42-10 (423) 260-42-11<br>e-mail: <a href="mailto:torgac@mail.ru">torgac@mail.ru</a></td>
    <td align="center">7</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320740">Владимирская область</a></td>
    <td>Худошин Роман Александрович</td>
    <td>600009, г. Владимир, ул. Полины Осипенко, д. 66<br>Тел.: (910) 176-05-25 (4922) 33-54-09<br>e-mail: <a href="mailto:gac@tke.ru">gac@tke.ru</a></td>
    <td align="center">7</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320741">Волгоградская область</a></td>
    <td>Лысак Владимир Ильич</td>
    <td>400005, г. Волгоград, пр. им В.И. Ленина, 28, каб. 208<br>Тел.: (8442) 23-00-76 (902) 363-59-95<br>e-mail: <a href="mailto:lysak@vstu.ru">lysak@vstu.ru</a></td>
    <td align="center">10</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320742">Вологодская область</a></td>
    <td>Викулов Вадим Александрович</td>
    <td>160014, г. Вологда, ул.Саммера, д.43<br>Тел.: (921) 121-47-61 (8172) 28-10-03 (8172) 27-23-03 (8172) 27-99-01<br>e-mail: <a href="mailto:vikulov@vologda.ru">vikulov@vologda.ru</a></td>
    <td align="center">5</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320743">Воронежская область</a></td>
    <td>Орлов Александр Семёнович</td>
    <td>394038, г. Воронеж, ул. Богачева, д.3, корп. Б<br>Тел.: (473) 278-30-15,  8-910-749-88-69<br>e-mail: <a href="mailto:alex@mk.vrn.ru">alex@mk.vrn.ru</a></td>
    <td align="center">6</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320744">Свердловская область</a></td>
    <td>Смородинский Яков Гаврилович</td>
    <td>620041, г. Екатеринбург, ул. Основинская, д.8<br>Тел.: (912) 240-32-01 (343) 374-43-83<br>e-mail: <a href="mailto:sm@imp.uran.ru">sm@imp.uran.ru</a></td>
    <td align="center">6</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320745">Удмуртская республика</a></td>
    <td>Штенников Василий Сергеевич</td>
    <td>427006, Удмурдская республика, Завьяловский р-н, п. Октябрьский, ул. Солнечная 3<br>Тел.: (3412) 69-11-28   (3412) 69-10-85<br>e-mail: <a href="mailto:zur4ac@mail.ru">zur4ac@mail.ru</a></td>
    <td align="center">5</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320746">Республика Марий Эл</a></td>
    <td>Клешнин Александр Валентинович</td>
    <td>Республика Марий Эл, г. Йошкар-Ола, ул. Анциферова, 5А, к. 88<br>Тел.: (9927)&nbsp;684-65-93<br>e-mail: <a href="mailto:a.kleshnin@mail.ru">a.kleshnin@mail.ru</a></td>
    <td align="center">6</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320747">Иркутская область</a></td>
    <td>Нестеренко Нина Афанасьевна</td>
    <td>664075, г. Иркутск, ул. Байкальская, 202/12<br>Тел.: (3952) 236-009<br>e-mail: <a href="mailto:gacvsr@mail.ru">gacvsr@mail.ru</a></td>
    <td align="center">5</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320748">Республика Татарстан</a></td>
    <td>Гортышов Юрий Федорович</td>
    <td>420036, г. Казань, ул. Побежимова, д. 55а<br>Тел.: (843) 533-01-41 (843) 533-01-61<br>e-mail: <a href="mailto:pr-3ac@mail.ru">pr-3ac@mail.ru</a></td>
    <td align="center">30</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320749">Калининградская область</a></td>
    <td>Поддубная Татьяна Емельяновна</td>
    <td>236005, г. Калининград, ул Киевская, д. 118 А<br>Тел.: (921) 952-81-47  (812) 542-64-10<br>e-mail: <a href="mailto:info@rszmas.ru">info@rszmas.ru</a></td>
    <td align="center">5</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320750">Калужская область</a></td>
    <td>Царьков Андрей Васильевич</td>
    <td>248000, г. Калуга, ул. Баженова, д.2, офис 239<br>Тел.: (930) 845-88-88 (4842) 56-24-66<br>e-mail: <a href="mailto:andrey.tsarkov@mail.ru">andrey.tsarkov@mail.ru</a></td>
    <td align="center">5</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320751">Кемеровская область</a></td>
    <td>Смирнов Александр Николаевич</td>
    <td>650055, г. Кемерово, пр. Ленина, дом 33, корп. 2, к. 505<br>Тел.: (3842) 44-14-93<br>e-mail: <a href="mailto:ssr-2gac@mail.ru">ssr-2gac@mail.ru</a></td>
    <td align="center">9</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320752">Кировская область</a></td>
    <td>Мелюков Валерий Васильевич</td>
    <td>610027, г. Киров, ул. Карла Маркса, д.127, офис 706<br>Тел.: (8332) 32-25-22 (912) 826-17-41<br>e-mail: <a href="mailto:vcc.naks@mail.ru">vcc.naks@mail.ru</a></td>
    <td align="center">8</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320753">Краснодарский край</a></td>
    <td>Штоколов Сергей Александрович</td>
    <td>350020, Краснодарский край, г. Краснодар, ул. Красная, 155/2<br>Тел.: (861) 255-54-58 (861) 246-58-53<br>e-mail: <a href="mailto:niimontag@mail.ru">niimontag@mail.ru</a></td>
    <td align="center">6</td>
  </tr>
   <tr>
    <td class="rrg"><a href="http://rsps.online/org/detail.php?ID=2320754">Красноярский край</a></td>
    <td>Прокопьев Сергей Викторович</td>
    <td>660025, Город Красноярск, Улица Вавилова, 39 «А», офис 67<br>Тел.: (391) 209-88-28 (391) 293-54-84<br>e-mail: <a href="mailto:gac@gacssr.ru">gac@gacssr.ru</a></td>
    <td align="center">14</td>
  </tr>
    
</tbody></table>

</div>
<a name="nav_start"></a><font class=""> 1 - 20 из 61
<br>
</font><font class="">Начало&nbsp;|&nbsp;Пред.&nbsp;|&nbsp;<b>1</b>&nbsp;<a href="http://rsps.online/org/index.php?PAGEN_1=2#nav_start">2</a>&nbsp;<a href="http://rsps.online/org/index.php?PAGEN_1=3#nav_start">3</a>&nbsp;<a href="http://rsps.online/org/index.php?PAGEN_1=4#nav_start">4</a>&nbsp;|&nbsp;<a href="http://rsps.online/org/index.php?PAGEN_1=2#nav_start">След.</a>&nbsp;|&nbsp;<a href="http://rsps.online/org/index.php?PAGEN_1=4#nav_start">Конец</a>&nbsp;|&nbsp;<a href="http://rsps.online/org/index.php?SHOWALL_1=1#nav_start">Все</a>&nbsp;</font>

</div>
</div>

<div class="main" id="chlen">
<div class="container">
<input value="Стать членом сообщества" style="cursor:pointer;" onclick="location.href='/forma/'; return false;" type="submit">
</div>
</div>

<div class="grey">
  <div class="container">
  
   
 <ul class="bottommenu">

			<li><a href="http://rsps.online/">Главная</a></li>

			<li><a href="http://rsps.online/about/">О РСПС</a></li>

			<li><a href="http://rsps.online/news/">Новости</a></li>

			<li><a href="http://rsps.online/docs/">Документы</a></li>

			<li><a href="http://rsps.online/org/">Региональные отделения</a></li>

			<li><a id="lastt" href="http://rsps.online/contacts/">Контакты</a></li>

</ul>
			
  </div>
</div>

<div class="grey" id="footr">
  <div class="container">
  <div class="row">
					<div class="three columns"><img src="rsps_reestr_files/logo-bottom.gif"></div>
					<div class="nine columns">
						<div class="foot">Российское сварочное профессиональное сообщество,<br> © 2013-16</div>
					</div>
					
						<div class="telefon-foot">  	<p><i class="fa fa-phone-square"></i>+7 (499) 784 77 00</p>
							<p><i class="fa fa-fax"></i>+7 (499) 784 77 11</p>		
						</div>
					
	</div>
				
				

</div>
</div>


  
  <div id="Modal-Authorization" class="window">
  
<div class="container modal authorization">
						<a href="#close" title="Закрыть" class="close"><i class="fa fa-times"></i></a>
						<h3 align="left">Вход в личный кабинет</h3>
						<form action="/personal/" name="lk" method="post">
						
							<input name="AUTH_FORM" value="Y" type="hidden">
	<input name="TYPE" value="AUTH" type="hidden">
	
							<div class="row">
								<div class="two columns">Логин</div>
								<div class="seven columns">
									<input name="USER_LOGIN" maxlength="50" value="snaks" type="text">
								</div>
							</div>
							<div class="row">
								<div class="two columns">Пароль</div>
								<div class="seven columns">
									<input id="password" name="USER_PASSWORD" maxlength="50" type="password">
								</div>
							</div>
							<div class="row">
								<div class="two columns">
								<input class="but" value="Войти" type="submit"> 
								</div>	
								<div class="seven columns" id="reg-link">
									<input id="USER_REMEMBER" name="USER_REMEMBER" value="Y" type="checkbox">&nbsp;запомнить меня
									<a href="http://rsps.online/org/index.php?forgot_password=yes&amp;backurl=%2Forg%2F">Забыли пароль?</a>
									<a href="http://rsps.online/org/index.php?register=yes&amp;backurl=%2Forg%2F">Зарегистрироваться</a>
								</div>

							</div>
						</form>
</div>
					

					
				</div>
		<script>
			
            //Адаптивное меню
			$(function() {
				var pull = $('#pull');
				menu = $('nav ul');
				menuHeight = menu.height();

				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
			});

			$(window).resize(function(){
				var w = $(window).width();
				if(w > 320 && menu.is(':hidden')) {
					menu.removeAttr('style');
				}
			});	
		</script>		
<script>
			//  The function to change the class
			var changeClass = function (r,className1,className2) {
				var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
				if( regex.test(r.className) ) {
					r.className = r.className.replace(regex,' '+className2+' ');
			    }
			    else{
					r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
			    }
			    return r.className;
			};	

			
		</script>

</body></html>